<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mobile_ros2_control" params="prefix:= '' controllers_file:= '' robot_ns:= ''">

    <gazebo>
      <plugin filename="libgz_ros2_control-system.so"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">

        <parameters>${controllers_file}</parameters>
        <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
        <hold_joints>true</hold_joints>
        <position_proportional_gain>0.5</position_proportional_gain>

        <ros>
          <namespace>${robot_ns}</namespace>
          <remapping>/robot_description:=/${robot_ns}/robot_description</remapping>
        </ros>
      </plugin>
    </gazebo>

    <ros2_control name="${prefix}GazeboSimSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="${prefix}frleft_joint">
        <command_interface name="velocity">
          <param name="min">-20.0</param>
          <param name="max">20.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}frright_joint">
        <command_interface name="velocity">
          <param name="min">-20.0</param>
          <param name="max">20.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}baleft_joint">
        <command_interface name="velocity">
          <param name="min">-20.0</param>
          <param name="max">20.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}baright_joint">
        <command_interface name="velocity">
          <param name="min">-20.0</param>
          <param name="max">20.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_1">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_2">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_3">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_4">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_5">
        <command_interface name="position">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_5_5">
        <command_interface name="position">
          <param name="min">-1.0</param>
          <param name="max">1.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>